<html>
    <body>
        <div class = floatL>
            <img src="./assets/MAX.png">
            <img src="./assets/PerryHall.png">
        </div>
        <div class = floatR>
            <p> MAX Technical Training is located in Mason, OH. I had an amazing experience going through that bootcamp. 
                Starting from very little knowledge in programming, I took my eagerness to learn and went on to learn how 
                to become a C# Full Stack Developer. During my time there I learned how to think like a programmer and even 
                programmed small and big projects. I achieved my Professsional Scrum Master Certification towards the end of 
                the bootcamp which gave me a very good insight on how a agile environment works. The bootcamp lasted from September 14th 
                2021 - December 15th 2021 and I achieved my certification. For my capstone project I created a Purchase Request System.
            </p>
            <p>
                I went to High School in Maryland at Perry Hall High School. My overall GPA was a 3.5 with 4 AP classes throughout my 4 years. 
                I was on the varsity football team my senior year and I enjoyed every second of it. Working together as a team, picking each other 
                up was an important character building experience for me. I am more of a no man left behind type of person now and will do 
                whatever I can to help someone that needs it.
            </p>
        </div>
    </body>
</html>