<div>
    <div>
        <div class = "floatL">
            <img src="./assets/about-me.JPG">
        </div>
        <div class = floatR>
            <p>I have successfully graduated MAX Technical Training's 13 week vigorous bootcamp learning both front-end and back-end 
                technologies. Learning multiple languages including but not limited to SQL, C#, JSON, HTML, JavaScript, and TypeScript. 
                When I was in 11th grade I had taken a python course and ever since then I knew that I wanted to become a Software Developer.
                Just having the ability to create something that can help people all over the world was enough for me to want to pursue a 
                career in this field. I am trilingual and can speak English, Gujrati, and Hindi. As an upcoming Software Developer I can't 
                wait to launch my career.
            </p>
            <span>
                <h3>Skills and Technology</h3><br>
                <a href="https://github.com/Parth715"><img class = Git src="./assets/Git_Hub.png"></a>
                <img class = Skill src="./assets/SQL.png"> 
                <img class = Skill src="./assets/CSharp.png">
                <img class = Skill src="./assets/GitBash.png">
                <img class = Skill src="./assets/JavaScript.png">
                <img class = Skill src="./assets/JSON.png">
                <img class = Skill src="./assets/TypeScript.png">
                <img class = Skill src="./assets/Angular.png">
                <img class = Skill src="./assets/Postman.png">
                <img class = Skill src="./assets/PSM1.png">
                <img class = EF src="./assets/EntityFramework.png">
                <img class = EF src="./assets/HTML.png">
            </span>
        </div>
    </div>
</div>