<html>
    <body>
            <div class = bg-image>
            <span class = "floatL">
                <img src = "../../assets/Capstone.png">
            </span>
            <span class = "floatR">
                <p>This is my capstone project that I completed during bootcamp it is a Purchase Request System that allows you to buy 
                certain items subject to manager approval. If you would like to check it out click <a href="link">HERE</a>. Type in 1 for 
                username and 1 for password.
                </p>
            </span>
            <span class = floatL>
                <img src = "../../assets/3 Card Poker.png"> 
            </span>
            <span class = floatR>
                <p>
                    This is my 3 Card Poker replica. Still working on the betting part but the functionality 
                    works. If you would like to play press <a href="link">HERE</a>
                </p>
            </span>
            </div>
    </body>
</html>
