<html>
    <body>
        <div class = floatL>
            <img src = "../../assets/Capstone.png">
        </div>
        <div class = floatR>
            <p>This is my capstone project that I completed during bootcamp it is a Purchase Request System that allows you to buy 
                certain items subject to manager approval. If you would like to check it out click <a href="link">HERE</a>
            </p>
        </div>
        <div class = floatL>
            <img src = "../../assets/3 Card Poker.png"> 
        </div>
        <div class = floatR>
            <p>
                This is my 3 Card Poker replica. If you would like to play press <a href="link">HERE</a>
            </p>
        </div>
    </body>
</html>
