<html>
    <body>
        <div>
            <div class = "floatL">
                <img class = cap src = "./assets/Capstone.png">
                <img class="poker" src = "./assets/3 Card Poker.png"> 
            </div>
            <div class = "floatR">
                <p>This is my capstone project that I completed during bootcamp. It is a Purchase Request System that allows you to buy 
                    certain items subject to manager approval. If you would like to check it out click <a href="http://parpate1.w32.wh-2.com/PRSF">HERE</a>. Type in 1 for 
                    username and 1 for password.
                </p>
            </div>
        </div>
            <div class = floatR>
                <p>
                    This is my 3 Card Poker replica. Still working on the betting part but the functionality 
                    works. The capability of setting up multiple app pools is limited by my server; however, if you reach out to me
                    I can set up this project for use. Currently the Purchase Request System is up. Click 
                    <a href="http://parpate1.w32.wh-2.com/3_Card_Poker_F">HERE</a> to play 3 Card Poker.
                </p>
            </div>
    </body>
</html>
