<html>
    <body>
        <div class = "flex">
            <img src="./assets/NFL.png" style="height:30%; width:30%; box-shadow: 5px 10px 10px black;">
            <p>
                I love watching and playing sports. Whether it be football, basketball, or golf. I enjoy being active 
                because while doing so it also helps improve my overall health. It's not only fun playing sports, 
                but especially with family or friends things get very competitive!
            </p>
        </div>
        <div class = flex>
            <img class=pic src="./assets/Family.png" style="height:25%; width:30%; box-shadow: 5px 10px 10px black;">
            <p>
                I enjoy programming and technology in general. It is ever changing and always evolving and I enjoy the fact that I will 
                never stop learning because newer and better technology will always come in the future. Truely can't get enough of programming 
                especially when you see what you can achieve with just a computer and a internet connection.
            </p>
        </div>
        <div class = flex>
            <img class="pic" src="./assets/Stocks.png" style="height:100%; width:20%; box-shadow: 5px 10px 10px black;">
            <p>
                I love spending time with my family after all I can share almost anything with them. Just something as simple as watching a 
                movie together or playing a board game is enough. These are some moments that you can cherish forever and for me I will always 
                be glad that I spent time with them because you never know if you will have the same amount of time now in the future.
            </p>
        </div>
        <div class = flex>
            <img class="pic" src="./assets/Programming.png" style="height:25%; width:30%; box-shadow: 5px 10px 10px black;">
            <p>
                Investing is a huge interest of mine after all having passive income can allow me to travel the world and see what it has to 
                offer. Also being financially free will allow me to spend more time with my loved ones whether it be just sitting down and 
                having a laugh or going out to a park. It also can get me some luxuries that I can only dream of right now such as the <a href = "https://cars.mclaren.com/en/super-series/720s">McLaren 720s</a>
            </p>
        </div>
    </body>
</html>