<html>
    <body>
        <div class = floatL>
            <img src="../../assets/Allegion.png">
        </div>
        <div class = floatR>
            <p>
                Once I moved to Ohio I worked for Allegion Steel Craft, a steel door and frame manufacturing company. I worked from 
                December 2nd 2020 to September 13th 2021. Essentially what I did was weld small parts onto frames that came down the line. 
                I also had to make sure what my co-workers welded on was in accordance to the job description. Once quality was good and I 
                got all the pieces I needed to make a complete door frame I would hang the frames on a conveyer. My last reponsibility was to 
                make sure our production line reached the production goal for the day. I would say this job taught me how to communicate and 
                work well with others.
            </p>
        </div>
        <div class = floatL>
            <img src="../../assets/7_Eleven.png">
        </div>
        <div class = floatR>
            <p>
                From June 2016 to November 2nd 2020, I worked as a 7-Eleven supervisor. I handled all the stores finances and accounting 
                regarding sales. Along with that I was in charge with managing the businesses inventory and training new employees. My main 
                responsibility was to provide exceptional customer support and be able to grow sales. This job had taught me how to convey 
                what I was thinking and be able to handle high pressure situations. Along with that I would have to learn how to handle situations 
                where I did not get what I ordered and I had ran out of supplies, I had to make do with what I had or find supplies somewhere.
            </p>
        </div>
    </body>
</html>